<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Photo Gallery</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <script src="/static/scripts/scripts.js"></script>
  </head>
  <body>
    <header>
      <h1>Photons</h1>
      <p class="subtitle">A collection of memories</p>
    </header>

    <section class="gallery">
      {% for photo in files %}
      <div class="photo-container">
        <img src="./static/images/{{ photo }}" onclick="openModal(this)" />
      </div>
      {% endfor %}
    </section>

    <!-- Modal for full-screen image -->
    <div id="myModal" class="modal">
      <span class="close" onclick="closeModal()">&times;</span>
      <img class="modal-content" id="imgModal" />
      <div id="caption"></div>
    </div>
    <div style="text-align: center; margin-top: 10px;">
      <a class="ho" href="/add_images">Upload a photo</a>
    </div>
  </body>
</html>
